/* Small mobile */
@media only screen and (max-width: 767px) {
.container{
  width: 300px;
}
.logo_area a {
  text-align: left;
}
.mainmenu ul li a {
	padding-right: 7px;
	box-sizing: border-box;
	font-size: 11px;
}   
.search_area {
	position: absolute;
	right: 18px;
	top: -58px;
	padding:0px;
}
.search_area ul li i {
	display: block;
	padding-right: 14px;
}	
.text_area h3 {
  font-family: "Kaushan Script",cursive;
  font-size: 30px;
}	
.text_area h2 {
	font-size: 50px;
	
}	
.text_area h1 {
	font-family: "Roboto",sans-serif;
	font-size: 50px;
}	
.header_md_textarea {
  margin-top: 300px;
}	
.sliding_area ul li a::after {
	background-color: #f7eac5;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: -21px;
	transition: all 0.75s ease 0s;
	width: 62px;
	z-index: 1;
}

.sliding_area ul li a:hover:before{
	background-color:#f38181;
	width:62px;
	z-index:2;
	transition:all .75s ease;
}	
.scroll_area span {
  font-size: 15px;
  margin-right: 5px;
}	
.sliding_area ul li a {
  font-size: 10px;
}	
	
.about_textarea h3 {
  font-size: 20px;
  
}	
.about_textarea p {
	color: #b6b6b6;
	font-size: 10px;
	margin: 81px 0 106px;
	width: 100%;
	padding:0px;
}	
.story_about_area{
	height: 200px;
	width: 230px;
}
.story_about_area img{
	width:100%;
	height:100%;
}
.user_interface{
	padding-top:80px;
}	
.user_interface img{
	width:25px;
	height:20px;
}		
.story_pomo {
  display: block;
  left: 23px;
  margin: 0 auto;
  position: relative;
}	
.counter_area {
  display: none;
}	
.service_textarea h3::after {
  background-color: #f38181;
  bottom: -41px;
  content: "";
  height: 3px;
  left: 39.5%;
  position: absolute;
  width: 60px;
}	
.service_inner_bottom:after{
	content:"";
	position:absolute;
	top: 64.5%;
	left:0;
	width:100%;
	height:1px;
	background-color:transparent;
}	
.service_provide {
  box-sizing: border-box;
  padding: 10px 0 40px 75px;
}	
	
.Unique_area {
	display: none;
}	
.what_working_area.animated.slideInLeft img {
	width: 275px;
	margin-bottom: 35px;
}	
	
/**Start Tooltip Style**/

.header_tooltip{}
.wrapper_tooltip{
	width:250px;
}
.pomo_text_tooltip{
	width:250px;
	height:33px;
}
.text_area_tooltip{
	width:250px;
}
.pomo_text_tooltip:hover,
.text_area_tooltip{
	border:1px solid #f2f2f2;
	border-top:none;
}
.wrapper_tooltip:hover .text_area_tooltip{
	height:95px;
}
.fa.fa-picture-o.fa-2x, .fa.fa-sliders.fa-2x, .fa.fa-bullseye.fa-2x {
	color: #95e1d3;
	font-size: 15px;
	line-height: 50px;
	margin-left: 12px;
	margin-top: -10px;
	position: absolute;
}
.pomo_text_tooltip span {
	color:#000;
	font-size:14px;
	font-weight:800;
	margin-left:27px;
	text-transform:uppercase;
}
.fa.fa-angle-down.fa-2x {
	color: #cccccc;
	margin-left: 71%;
	margin-top: 0%;
	position: absolute;
}
.pomo_text_tooltip a{
	display:block;
}
.pomo_text_tooltip a:hover{
	text-decoration:none;
}
.pomo_text_tooltip span {
	left: 18.5%;
	position: absolute;
	font-size: 12px;
	margin-top: -20px;
}
.text_area_tooltip {
	margin-bottom: 1px;
}
.what_working_area_tooltip {
	display: block;
	margin-left: 15px;
}
/**End Tooltip Style**/
.uniqure_textarea h3::after {
  left: 37.5%;
}		
.uniqure_textarea p {
	font-size: 12px;
	padding:0px;
}	
.slider_img > img {
	height: 70px;
	width: 70px;
}	
.slider_img img {
  left: 0.5%;
  position: absolute;
  top: 36%;
}	
.slider_textarea p {
	font-size: 10px;
	left: 29%;
	top: 35%;
}	
.slider_textarea img {
	bottom: 28%;
	left: 29%;
}	
.slider_textarea span {
	bottom: 24%;
	font-size: 15px;
	left: 54%;
}	
	
.team_textarea p {
	font-size: 12px;
	padding:0px
}	
.about_textarea h3::after {
  left: 39.5%;
}	
.team_textarea h3::after {
 	 left: 36.5%;
}	
.team_inner_details {
  display: none;
  margin-top: 50px;
}	
	
.logo_inner img {
  width: 32px;
  height: 32px;
}	
	
#custom_logo1 img {
  padding-top: 6px;
}	
#custom_logo img {
  padding-top: 9px;
}
	
.logo_area_custom {
  background-color: #f8f8f8;
  height: 170px;
  margin-bottom:50px;
  width: 100%;
  margin-top: 50px;
}	
.ourWorking_area_pomo h3 {
  font-size: 15px;
}	
.ourWorking_area_pomo h3::after {
  left: 38.5%;
}	
.ourWorking_area_pomo p {
  font-size: 12px;
  margin: 81px 0 50px;
  padding: 0 0px;
}	
.creative_overly{
	padding-top:10px;
	visibility: hidden;
}	
.creative_overly i{
	font-size:10px;
}
.creative_overly h4{
	font-size:8px;
}
.creative_overly p{
	font-size:5px;
	display:block;
	margin-top:-5px;
}	
.Contactslider_img > img {
	height: 60px;
	width: 60px;
}	
.Contactslider_img img {
	left: 1.5%;
	position: absolute;
	top: 37%;
}	
.Contactslider_textarea p {
	font-size: 8px;
	left: 29%;
	top: 37%;
	width: 60%;
}	
	
.Contactslider_textarea img {
	bottom: 34%;
	left: 29%;
	position: absolute;
}	
.Contactslider_textarea span {
  bottom: 31%;
  font-family: "Kaushan Script",cursive;
  font-size: 15px;
  left: 54%;
  position: absolute;
}	
.contect_slider_area {
	height: 290px;
	margin-bottom: 0;
	width: 100%;
}	
.people_textarea h4 {
  font-size: 15px;
  padding-top: 30px;
}	
.people_textarea h3 {
	font-size: 15px;
}	
.people_textarea h3::after {
	background-color: #f38181;
	bottom: -31px;
	content: "";
	height: 3px;
	left: 39.5%;
	position: absolute;
	width: 60px;
}	
.people_textarea {
	margin-bottom: 50px;
	text-align: center;
}	
.client_img img {
	width: 40px;
	height: 40px;
}	
.about_people span {
	margin-bottom: 15px;
}	
.about_people p {
	font-size: 10px;
}
.position_cap img {
	left: 35%;
	position: absolute;
	top: 39%;
}	
.blog_social_icon {
	margin-bottom: 60px;
}	
.map_inner h2::after {
	left: 37.5%;
	position: absolute;
	top: 134px;
}	
.map_inner > h2 {
  margin: 0px;
}	
.map_inner i {
	color: #f38181;
	font-size: 30px;
	margin-top: 35px;
}	
.footer_blog {
	display: none;
}	
.w3techies_text h2 {
	font-size: 30px;
}	
.fot_social ul li a {
	color: #95e1d3;
	display: block;
	padding: 10px 2px;
	transition: all 0.25s ease 0s;
	margin-left: 5px;
}	
.uniqure_textarea {
	margin-bottom: 68px;
	margin-top: 30px;
	text-align: center;
}	
	
}


/* smart phone */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container{
  width: 450px;
}
  
 
		
    
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.container{
  width: 750px;
}
.header_md_textarea {
	margin-top: 250px;
}
.search_area ul li i {
	display: block;
}
.fa.fa-shopping-cart {
	margin-left: -28px;
}	
.fa.fa-search {
	margin-left: -12px;
}	
.text_area > h1 {
  font-size: 100px;
}	
	
.sliding_area ul li a::after {
	background-color: #f7eac5;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: -21px;
	transition: all 0.75s ease 0s;
	width: 160px;
	z-index: 1;
}

.sliding_area ul li a:hover:before{
	background-color:#f38181;
	width:160px;
	z-index:2;
	transition:all .75s ease;
}	
.text_area h2 {
	font-family: "Roboto",sans-serif;
	font-size: 100px;
	font-weight: 400;
	margin-top: 34px;
	text-transform: uppercase;
}	
	

.story_about_area{
	height: 200px;
	width: 230px;
}
.story_about_area img{
	width:100%;
	height:100%;
}
.user_interface{
	padding-top:80px;
}	
.user_interface img{
	width:25px;
	height:20px;
}	
.service_inner_bottom:after{
	width:90%;
	left:5%;
}
.what_working_area img {
	width: 350px;
	height: 200px;
}	

.what_working_area_tooltip {
	display: block;
}
	
/**Start Tooltip Style**/

.header_tooltip{}
.wrapper_tooltip{
	width:300px;
}
.pomo_text_tooltip{
	width:300px;
	height:33px;
}
.text_area_tooltip{
	width:300px;
}
.pomo_text_tooltip:hover,
.text_area_tooltip{
	border:1px solid #f2f2f2;
	border-top:none;
}
.wrapper_tooltip:hover .text_area_tooltip{
	height:95px;
}
.fa.fa-picture-o.fa-2x, .fa.fa-sliders.fa-2x, .fa.fa-bullseye.fa-2x {
	color: #95e1d3;
	font-size: 15px;
	line-height: 50px;
	margin-left: 12px;
	margin-top: -10px;
	position: absolute;
}
.pomo_text_tooltip span {
	color:#000;
	font-size:14px;
	font-weight:800;
	margin-left:27px;
	text-transform:uppercase;
}
.fa.fa-angle-down.fa-2x {
	color: #cccccc;
	margin-left: 71%;
	margin-top: 0%;
	position: absolute;
}
.pomo_text_tooltip a{
	display:block;
}
.pomo_text_tooltip a:hover{
	text-decoration:none;
}
.pomo_text_tooltip span {
	left: 18.5%;
	position: absolute;
	font-size: 12px;
	margin-top: -20px;
}
.text_area_tooltip {
	margin-bottom: 1px;
}
.what_working_area_tooltip {
	display: block;
	margin-left: 15px;
}
/**End Tooltip Style**/
	
	
.slider_img > img {
	height: 100px;
	width: 100px;
}	
.slider_img img {
	left: 7.5%;
	position: absolute;
	top: 32%;
}	
.slider_textarea p {
	font-size: 15px;
	left: 27%;
	top: 31%;	
}	
.slider_textarea img {
	bottom: 37%;
	left: 27%;
	position: absolute;
}	
.slider_textarea span {
	bottom: 32%;
	font-size: 20px;
	left: 37%;
}	
.team_details{
	width:229px;
	height:346px;
}
.team_details img{
	width:100%;
	height:100%;
}
.team_text_pomo{
	content:"";
	position:absolute;
	top:-100%;
	left:100%;
	width:100%;
	height:100%;
	line-height:346px;
}
.team_details:hover .team_text_pomo{
	left:0;
	top:0;
}
.team_text_pomo ul li a{
	width:30px;
	height:30px;
	line-height:30px;
	font-size:15px;
}
.logo_optionarea img {
	height: 80px;
	width: 80px;
}	
.creative_overly{
	padding-top:50px;
}	
.creative_overly h4 {
	font-size: 13px;
}	
.creative_overly p {
	font-size: 12px;
	margin-top:-5px;
	display:block;
}	
.creative_overly i {
	color: #fff;
	font-size: 15px;
}	
.Contactslider_img > img {
	height: 100px;
	width: 100px;
}	
.Contactslider_img img {
	left: 9.5%;
	position: absolute;
	top: 33%;
}	
.Contactslider_textarea p {
	left: 29%;
	top: 38%;
	font-size:15px;
}	
.Contactslider_textarea img {
	bottom: 30%;
	left: 29%;
	position: absolute;
}	
.Contactslider_textarea span {
	bottom: 25%;
	font-size: 20px;
	left: 38%;
}	
.client_img img {
	left: 0.5%;
	position: absolute;
	top: 0;
}	
.people_textarea h4 {
	padding-top: 70px;
}	
.about_people p {
	color: #979797;
	font-family: "Roboto",sans-serif;
	font-size: 13px;
	width: 100%;
}	
.blog_details p {
	font-size: 13px;
	font-family: roboto;
}	
.w3techies_text h2 {
	font-size: 40px;
}	
.fot_social {
	float: left;
	margin-left: -31%;
	margin-top: 25px;
}	
.contact_list input[type="submit"] {
	font-size: 11px;
	height: 30px;
	right: 1px;
	top: 1px;
	width: 80px;
}	
.contact_list input[type="Email"] {
	padding: 5.1px 20px;
}
.fot_social ul li a {
	padding:0px;
}	
#threeShort img {
	height: 70px;
	width: 80px;
}	
	
#twoShort img {
	height: 70px;
	width: 80px;
}	
#oneShort img {
	height: 70px;
	width: 80px;
}	
.w3techies_text p {
	font-size: 10px;
	margin-top: 20px;
}
.w3techies_text h4 {
	margin-top: 30px;
}	
.contact_list {
	margin-top: 20px;
}	
.fot_textarea > p {
	font-size: 8px;
}
#threeShort img {
	left: 10%;
	position: absolute;
	top: 27.5%;
}	
#twoShort img {
	left: 10%;
	position: absolute;
	top: 52.5%;
}	
#oneShort img {
	left: 10%;
	position: absolute;
	top: 78.5%;
}	
.fot_textarea > span {
	font-size: 13px;
}	
.footer_blog > h2 {
  margin-top: 15%;
}	
.instagram_img1 img {
	height: 70px;
	width: 71px;
}	
.map_inner h2::after {
	left: 45.5%;
}	

}


/* Medium screen */
@media only screen and (min-width: 992px) and (max-width: 1169px) {
.container{
  width: 960px;
}
  
    
    
}